* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.card {
    background: #f3f5fc;
    width: 100%;
    height: calc(100vh);
    border-radius: 0px !important;
    border: 0px !important;
}

.card-header {
    background: #f3f5fc;
    border-radius: 0px !important;
    border: 0px !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 10px;
}

.ingresar-palabra {
    display: flex;
    justify-content: center;
}

.ingresar-palabra textarea {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0a3871;
    width: 95%;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
}

.ingresar-palabra textarea::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0a3871;
}

.botones {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.letras {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.bi-exclamation-circle-fill {
    font-size: 1rem;
    color: #495057;
}

.btn-guardar-empezar {
    padding: 24px;
    width: 332px;
    height: 67px;
    background: #0a3871;
    border: none;
    border-radius: 24px;
    text-decoration: none;
}

.btn-guardar-empezar p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 19px;
    color: #ffffff;
}

.btn-cancelar {
    padding: 24px;
    width: 332px;
    height: 67px;
    background: transparent;
    border: 1px solid #0a3871;
    border-radius: 24px;
    text-decoration: none;
}

.btn-cancelar p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 19px;
    color: #0a3871;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0a3871;
    border-radius: 0px !important;
    border: 0px !important;
    gap: 15px;
}

.card-footer p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.card-footer p a {
    padding: 0px 15px;
}

.bi-github,
.bi-linkedin {
    font-size: 2rem;
    color: #ffffff;
}

@media screen and (max-width: 705px) {
    .botones-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}