* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.card {
    background: #f3f5fc;
    width: 100%;
    height: calc(100vh);
    border-radius: 0px !important;
    border: 0px !important;
}

.card-header {
    background: #f3f5fc;
    border-radius: 0px !important;
    border: 0px !important;
}

.card-body {
    background: #f3f5fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 15px;
}

/* canvas {
  width: calc(100vw);
  height: calc(100vh);
  image-rendering: pixelated;
} */

.swal2-container .swal2-popup {
    border-radius: 25px !important;
    width: 400px !important;
    height: auto !important;
    font-family: "Inter" !important;
    font-style: normal !important;
}

.swal2-confirm {
    border-radius: 25px !important;
    width: 100px !important;
    height: 50px;
}

.swal2-confirm:focus {
    box-shadow: none !important;
}

.swal2-deny {
    border-radius: 25px !important;
    width: 100px !important;
    height: 50px;
}

.swal2-deny:focus {
    box-shadow: none !important;
}

.swal2-close:focus {
    box-shadow: none !important;
}

b {
    font-weight: bold !important;
}

.ingresar-letras {
    display: flex;
    justify-content: space-evenly;
}

.ingresar-letras input {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    width: 80px;
    border: none;
    color: #0a3871;
    background: transparent;
    outline: none;
}

.grupo-lineas {
    display: flex;
    justify-content: space-evenly;
}

.grupo-lineas input {
    width: 80px;
    height: 4px;
    background: #0a3871;
    border-radius: 8px;
    border: none;
}

.error-letras {
    display: flex;
    justify-content: center;
}

.error-letras input {
    width: 30px;
    height: 36px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    border: none;
    background: transparent;
    outline: none;
}

.teclado {
    display: none;
}

.botones {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    gap: 10px;
}

.botones-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.btn-nuevo-juego {
    padding: 24px;
    width: 332px;
    height: 67px;
    background: #0a3871;
    border: none;
    border-radius: 24px;
    text-decoration: none;
}

.btn-nuevo-juego p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 19px;
    color: #ffffff;
}

.btn-desistir {
    padding: 24px;
    width: 332px;
    height: 67px;
    background: transparent;
    border: 1px solid #0a3871;
    border-radius: 24px;
    text-decoration: none;
}

.btn-desistir p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 19px;
    color: #0a3871;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0a3871;
    border-radius: 0px !important;
    border: 0px !important;
    gap: 15px;
}

.card-footer p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.card-footer p a {
    padding: 0px 15px;
}

.bi-github,
.bi-linkedin {
    font-size: 2rem;
    color: #ffffff;
}

@media screen and (max-width: 912px) {
    .teclado {
        display: flex;
        justify-content: space-evenly;
        background: transparent;
    }

    .teclado button {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        background: #0a3871;
        color: #ffffff;
        border-radius: 24px;
        text-decoration: none;
        border: none;
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 710px) {
    .botones {
        margin-top: 25px;
    }
    .botones-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .ingresar-letras input {
        width: 40px;
    }

    .grupo-lineas input {
        width: 40px;
    }

    .teclado button {
        font-size: 16px;
        width: 30px;
        height: 35px;
    }
}